<h3 class="dpd" id="variants: {{ d.headword|safe }}">variants: {{ d.headword|safe }}</h3>
<div class="tertiary">
    <table class="variants">
        <tr>
            <th>source</th>
            <th>filename</th>
            <th>context</th>
            <th>variant</th>
        </tr>
        {% for variant in d.variants: %}
        <tr>
            <td>{{ variant.source }}</td>
            <td>{{ variant.file_name }}</td>
            <td>{{ variant.context }}</td>
            <td>
                <b>{{ variant.variant }}</b>
                <hr class="dpd">
                {% for headword in variant.headwords: %}
                <a class="jump" href="#{{ headword }}">{{ headword }}</a>
                {% if not loop.last %} | {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <p class="dpd-footer">
        For details on how to use this, please <a class="dpd-link" href='https://digitalpalidictionary.github.io/features/variants/' target='_blank'>read the docs</a>.
    </p>
</div>
