<h3 class="dpd" id="grammar: {{ d.headword }}">грамматика: {{d.headword}}</h3>
<div class='dpd'>
    <table class='grammar_dict'>
        <thead>
            <tr>
                <th id='col1'>грам. ⇅</th>
                <th id='col2'>⇅</th>
                <th id='col3'>⇅</th>
                <th id='col4'>⇅</th>
                <th id='col5'></th>
                <th id='col6'>слово ⇅</th>
            </tr>
        </thead>
        <tbody>
            {% for item in d.ru_grammar: %}
            {# item is (headword, pos, components_list) #}
            <tr>
                {% for comp in item[:-1]: %}

                {% if comp == "" %}
                <td class='col_empty'></td>
                {% else %}
                <td>{{comp}}</td>
                {% endif %}

                {% endfor %}
                <td>от</td>
                <td><a class="jump" href="#{{item[-1]}}">{{item[-1]}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="dpd-footer">
        For more information, please <a class="dpd-link"
            href='https://digitalpalidictionary.github.io/features/grammardict/'
            target='_blank'>read the docs</a>.
    </p>
</div>