<h3 class="dpd" id="help: {{ d.headword }}">помощь: {{d.headword}}</h3>
<div class="tertiary">
    <table class="help">
        <tr>
            <th>
                Помощь
            </th>
            <td>
                <b>{{d.headword|safe}}</b>
            </td>
        </tr>
        <tr>
            <th>
                Значение
            </th>
            <td>
                {{d.meaning|safe}}
            </td>
        </tr>
        {% if d.pali: %}
        <tr>
            <th>
                Пали
            </th>
            <td>
                {{d.pali|safe}}
            </td>
        </tr>
        {% endif %}

        {% if d.example: %}
        <tr>
            <th>
                Пример
            </th>
            <td>
                {{d.example|safe}}
            </td>
        </tr>
        {% endif %}

        {% if d.explanation: %}
        <tr>
            <th>
                Инфо
            </th>
            <td>
                {{d.explanation|safe}}
            </td>
        </tr>
        {% endif %}
    </table>
</div>
