<h3 class="dpd" id="variants: {{ d.headword|safe }}">отличные формы: {{ d.headword|safe }}</h3>
<div class="tertiary">
    <table class="variants">
        <tr>
            <th>источник</th>
            <th>имя файла</th>
            <th>контекст</th>
            <th>отличная форма</th>
        </tr>
        {% for variant in d.variants: %}
        <tr>
            <td>{{ variant.source }}</td>
            <td>{{ variant.file_name }}</td>
            <td>{{ variant.context }}</td>
            <td>
                <b>{{ variant.variant }}</b>
                <hr>
                {% for headword in variant.headwords: %}
                <a class="jump" href="#{{ headword }}">{{ headword }}</a>
                {% if not loop.last %} | {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <p class="dpd-footer">
        Для подробностей, пожалуйста, <a class="dpd-link" href='https:///devamitta.github.io/dpd.rus/features/variants/' target='_blank'>читайте документацию</a>.
    </p>
</div>
