<div id="ru_sutta_info_${ i.lemma_1_ }" name="sutta-info-div" class="dpd content hidden">
    <table class="sutta_info">

        % if su.cst_code:
        <tr>
            <th colspan="2">
                Chaṭṭha Saṅgāyana Типитака (CST)
            </th>
        </tr>

        <tr>
            <th>
                Код CST
            </th>
            <td>
                ${ su.cst_code }
            </td>
        </tr>

        <tr>
            <th>
                Никая
            </th>
            <td>
                ${ su.cst_nikaya }
            </td>
        </tr>

        <tr>
            <th>
                Книга
            </th>
            <td>
                ${ su.cst_book }
            </td>
        </tr>

        <tr>
            <th>
                Раздел
            </th>
            <td>
                ${ su.cst_section }
            </td>
        </tr>

        <tr>
            <th>
                Вагга
            </th>
            <td>
                ${ su.cst_vagga }
            </td>
        </tr>

        <tr>
            <th>
                Сутта
            </th>
            <td>
                ${ su.cst_sutta }
            </td>
        </tr>

        <tr>
            <th>
                Параграф
            </th>
            <td>
                ${ su.cst_paranum }
            </td>
        </tr>

        <tr>
            <th>
                Файл
            </th>
            <td>
                <a href="https://github.com/VipassanaTech/tipitaka-xml/tree/main/${ su.cst_file }" target="_blank">${ su.cst_file }</a>
            </td>
        </tr>

        <tr>
            <th>
                Сайты с CST
            </th>
            <td>
                <a href="${ su.tpp_org }" target="_blank">tipitakapali.org</a>
            </td>
        </tr>

        % if su.has_tpr:
        <tr>
            <th>
                Tipiṭaka Pāḷi Reader
            </th>
            <td>
                <a href="https://tpr.pali.tools/open/?sutta=${ su.dpd_code.lower() }" target="_blank">https://tpr.pali.tools/open/?sutta=${ su.dpd_code.lower() }</a>
            </td>
        </tr>
        % endif

        <tr>
            <th colspan="2">
                Страницы в печатных изданиях CST
            </th>
        </tr>

        <tr>
            <th>
                Мьянма
            </th>
            <td>
                ${ su.cst_m_page }
            </td>
        </tr>

        <tr>
            <th>
                Тайланд
            </th>
            <td>
                ${ su.cst_t_page }
            </td>
        </tr>

        <tr>
            <th>
                VRI
            </th>
            <td>
                ${ su.cst_v_page }
            </td>
        </tr>

        <tr>
            <th>
                PTS
            </th>
            <td>
                ${ su.cst_p_page }
            </td>
        </tr>
        % endif

        % if su.sc_code:
        <tr>
            <th colspan="2">
                SuttaCentral (SC)
            </th>
        </tr>

        <tr>
            <th>
                Код SC
            </th>
            <td>
                ${ su.sc_code }
            </td>
        </tr>

        <tr>
            <th>
                Книга
            </th>
            <td>
                ${ su.sc_book }
            </td>
        </tr>

        <tr>
            <th>
                Вагга
            </th>
            <td>
                ${ su.sc_vagga }
            </td>
        </tr>

        <tr>
            <th>
                Сутта
            </th>
            <td>
                ${ su.sc_sutta }
            </td>
        </tr>

        <tr>
            <th>
                Название
            </th>
            <td>
                ${ su.sc_eng_sutta }
            </td>
        </tr>

        <tr>
            <th>
                Краткое описание
            </th>
            <td>
                ${ su.sc_blurb }
            </td>
        </tr>

        <tr>
            <th>
                Ссылки
            </th>
            <td>
                <a href="${ su.sc_card_link }" target="_blank">Карточка Сутты</a>,
                <a href="${ su.sc_pali_link }" target="_blank">Текст на пали</a></i>,
                <a href="${ su.sc_eng_link }" target="_blank">Перевод на английский</a></i><br>
            </td>
        </tr>

        <tr>
            <th>
                Файл
            </th>
            <td>
                ${ su.sc_file_path }
            </td>
        </tr>

        <tr>
            <th>
                Github
            </th>
            <td>
                <a href="${ su.sc_github }" target="_blank">${ su.sc_file_path }</a>
            </td>
        </tr>

        <tr>
            <th>
                Веб-сайты с Sutta Central
            </th>
            <td>
                % if su.tbw:
                <a href="${ su.tbw }" target="_blank">thebuddhaswords.net</a><br>
                % endif
                % if su.tbw_legacy:
                <a href="${ su.tbw_legacy }" target="_blank">dhamma.gift (BW)</a><br>
                % endif
                % if su.dhamma_gift:
                <a href="${ su.dhamma_gift }" target="_blank">find.dhamma.gift</a><br>
                % endif
                % if su.sc_express_link:
                <a href="${ su.sc_express_link}" target="_blank">SC Express</a><br>
                % endif
                % if su.sc_voice_link:
                <a href="${ su.sc_voice_link }" target="_blank">sc-voice.net</a><br>
                % endif
            </td>
        </tr>
        % endif

        % if su.bjt_sutta_code:
        <tr>
            <th colspan="2">
                Buddha Jayanti Tipiṭaka (BJT)
            </th>
        </tr>

        <tr>
            <th>
                Код Сутты
            </th>
            <td>
                ${ su.bjt_sutta_code }
            </td>
        </tr>

        <tr>
            <th>
                Питака
            </th>
            <td>
                ${ su.bjt_piṭaka }
            </td>
        </tr>

        <tr>
            <th>
                Никая
            </th>
            <td>
                ${ su.bjt_nikāya }
            </td>
        </tr>

        <tr>
            <th>
                Основной Раздел
            </th>
            <td>
                ${ su.bjt_major_section }
            </td>
        </tr>

        <tr>
            <th>
                Книга
            </th>
            <td>
                ${ su.bjt_book }
            </td>
        </tr>

        <tr>
            <th>
                Малый Раздел
            </th>
            <td>
                ${ su.bjt_minor_section }
            </td>
        </tr>

        <tr>
            <th>
                Вагга
            </th>
            <td>
                ${ su.bjt_vagga }
            </td>
        </tr>

        <tr>
            <th>
                Сутта
            </th>
            <td>
                ${ su.bjt_sutta }
            </td>
        </tr>

        <tr>
            <th>
                ID Книги
            </th>
            <td>
                ${ su.bjt_book_id }
            </td>
        </tr>

        <tr>
            <th>
                Номер Страницы
            </th>
            <td>
                ${ su.bjt_page_num }
            </td>
        </tr>

        <tr>
            ## <th>
                ## Page Offset
                ## </th>
            ## <td>
                ## ${ su.bjt_page_offset }
                ## </td>
            ## </tr>

        <tr>
            <th>
                Имя Файла
            </th>
            <td>
                ${ su.bjt_filename }
            </td>
        </tr>

        <tr>
            <th>
                Github
            </th>
            <td>
                <a href="${ su.bjt_github_link }" target="_blank">${ su.bjt_filename }</a>
            </td>
        </tr>

        <tr>
            <th>
                Сайты с BJT
            </th>
            <td>
                <a href="${ su.bjt_tipitaka_lk_link }" target="_blank">tipiṭaka.lk (Сингальский)</a><br>
                <a href="${ su.bjt_open_tipitaka_lk_link }" target="_blank">open.tipiṭaka.lk (Латиница)</a><br>
                <a href="${ su.bjt_open_tipitaka_lk_link.replace('latn', 'deva') }" target="_blank">open.tipiṭaka.lk (Деванагари)</a><br>
            </td>
        </tr>
        % endif

        % if su.dv_exists:
        <tr>
            <th colspan="2">
                Дхамма Виная: Каталог Сутт
            </th>
        </tr>

        <tr>
            <th>
                PTS
            </th>
            <td>
                ${ su.dv_pts }
            </td>
        </tr>

        <tr>
            <th>
                Основная Тема
            </th>
            <td>
                ${ su.dv_main_theme }
            </td>
        </tr>

        <tr>
            <th>
                Особенная Тема
            </th>
            <td>
                ${ su.dv_subtopic }
            </td>
        </tr>

        <tr>
            <th>
                Сводка
            </th>
            <td>
                ${ su.dv_summary }
            </td>
        </tr>

        <tr>
            <th>
                Основные выдержки 1
            </th>
            <td>
                ${ su.dv_key_excerpt1 }
            </td>
        </tr>

        <tr>
            <th>
                Основные выдержки 2
            </th>
            <td>
                ${ su.dv_key_excerpt2 }
            </td>
        </tr>

        <tr>
            <th>
                Примеры
            </th>
            <td>
                ${ su.dv_similes }
            </td>
        </tr>

        <tr>
            <th>
                Стадия
            </th>
            <td>
                ${ su.dv_stage }
            </td>
        </tr>

        <tr>
            <th>
                Тренировка
            </th>
            <td>
                ${ su.dv_training }
            </td>
        </tr>

        <tr>
            <th>
                Тип Учения
            </th>
            <td>
                ${ su.dv_aspect }
            </td>
        </tr>

        <tr>
            <th>
                Учитель
            </th>
            <td>
                ${ su.dv_teacher }
            </td>
        </tr>

        <tr>
            <th>
                Публика
            </th>
            <td>
                ${ su.dv_audience }
            </td>
        </tr>

        <tr>
            <th>
                Метод Учения
            </th>
            <td>
                ${ su.dv_method }
            </td>
        </tr>

        <tr>
            <th>
                Длинна
            </th>
            <td>
                ${ su.dv_length }
            </td>
        </tr>

        <tr>
            <th>
                Особенность
            </th>
            <td>
                ${ su.dv_prominence }
            </td>
        </tr>

        <tr>
            <th>
                Рекомендация
            </th>
            <td>
                ${ su.dv_suggested_suttas }
            </td>
        </tr>

        % if su.dv_parallels_exists:
        <tr>
            <th colspan="2">
                Паралелли
            </th>
        </tr>

        <tr>
            <th>
                Никаи
            </th>
            <td>
                ${ su.dv_nikayas_parallels }
            </td>
        </tr>

        <tr>
            <th>
                Агамы
            </th>
            <td>
                ${ su.dv_āgamas_parallels }
            </td>
        </tr>

        <tr>
            <th>
                Тайсё
            </th>
            <td>
                ${ su.dv_taisho_parallels }
            </td>
        </tr>

        <tr>
            <th>
                Санскрит
            </th>
            <td>
                ${ su.dv_sanskrit_parallels }
            </td>
        </tr>

        <tr>
            <th>
                Виная
            </th>
            <td>
                ${ su.dv_vinaya_parallels }
            </td>
        </tr>

        <tr>
            <th>
                Другое
            </th>
            <td>
                ${ su.dv_others_parallels }
            </td>
        </tr>

        <tr>
            <th>
                ## Частичные Паралелли
            </th>
            <td>
                ${ su.dv_partial_parallels_nā }<br>
                ${ su.dv_partial_parallels_all }
            </td>
        </tr>
        % endif
        % endif

    </table>

    <p class="dpd-footer">
        Заметили ошибку?
        <a class="dpd-link"
            href="https://docs.google.com/forms/d/1iMD9sCSWFfJAFCFYuG9HRIyrr9KFRy0nAOVApM998wM/viewform?usp=pp_url&entry.438735500=${i.id}%20${i.lemma_link}&entry.326955045=Sutta&entry.1433863141=GoldenDict+${today}"
            target="_blank">Пожалуйста сообщите</a>
    </p>
</div>
