<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta data_key="rootdata_ru_{{ d.r.root_no_sign_ }}">

    <title>Электронный Словарь Пали</title>
    <style>
    </style>

    <link href="dpd-css-and-fonts.css" rel="stylesheet">

    <link href="ru_family_compound_json.js" class="ru_load_js" rel="preload"
            as="script">
    <link href="ru_family_compound_template.js" class="ru_load_js" rel="preload"
            as="script">
    <link href="ru_family_idiom_json.js" class="ru_load_js" rel="preload"
        as="script">
    <link href="ru_family_idiom_template.js" class="ru_load_js" rel="preload"
        as="script">
    <link href="ru_family_root_json.js" class="ru_load_js" rel="preload"
        as="script">
    <link href="ru_family_root_template.js" class="ru_load_js" rel="preload"
        as="script">
    <link href="ru_family_set_json.js" class="ru_load_js" rel="preload"
        as="script">
    <link href="ru_family_set_template.js" class="ru_load_js" rel="preload"
        as="script">
    <link href="ru_family_word_json.js" class="ru_load_js" rel="preload"
        as="script">
    <link href="ru_family_word_template.js" class="ru_load_js" rel="preload"
        as="script">
    <link href="ru_feedback_template.js" class="ru_load_js" rel="preload"
        as="script">
    <link href="ru_frequency_template.js" class="ru_load_js" rel="preload"
        as="script">
    <link href="ru_main.js" class="ru_load_js" rel="preload" as="script">

    <script>
        var rootdata_ru_{{ d.r.root_no_sign_ }} = {
            "root": "{{ d.r.root }}",
            "date": "{{ d.date }}",
        };
    </script>

    <script>
        var els2load = document.getElementsByClassName("ru_load_js");
        if (typeof ru_js_already_loaded === "undefined") {
            var ru_js_already_loaded = true;
            var elsArray = Array.from(els2load);
            elsArray.forEach(el => { 
                var s = document.createElement("script");
                var elName = el.getAttribute("href");
                s.src = elName;
                document.head.appendChild(s);
            });
        };
    </script>

</head>
