{{ d.header }}
<body>
<div class="root">
    <p>
        <b>{{ d.r.root_clean }}</b> 
        {{ d.r.root_group }} 
        {{ d.r.root_sign }} 
        ({{ d.r.root_meaning }}) 
        <span class="gray">{{ d.count }}</span>
    </p>
</div>

<div class="button-box">
    {% if d.r.root_info %}
    <a class="dpd-button" href="#" data-target="root_info_{{ d.r.root_ }}">info</a>
    {% endif %}
    {% if d.r.root_matrix %}
    <a class="dpd-button" href="#" data-target="root_matrix_{{ d.r.root_ }}">matrix</a>
    {% endif %}
    {% for fr in d.frs %}
    <a class="dpd-button" href="#" data-target="root_family_{{ fr.root_family_ }}">
        {{ fr.root_family_clean }}
    </a>
    {% endfor %}
</div>

{% if d.r.root_info %}
<div id="root_info_{{ d.r.root_ }}" class="root content hidden">
    <table class="root_info">
        <tr>
            <th>Root</th>
            <td>{{ d.r.root }}</td>
        </tr>
        <tr>
            <th>Meaning</th>
            <td>{{ d.r.root_meaning }}</td>
        </tr>
        <tr>
            <th>Group</th>
            <td>{{ d.r.root_group }}</td>
        </tr>
        <tr>
            <th>Sign</th>
            <td>{{ d.r.root_sign }}</td>
        </tr>
        {% if d.r.sanskrit_root %}
        <tr>
            <th>Sanskrit</th>
            <td><i>{{ d.r.sanskrit_root }} {{ d.r.sanskrit_root_class }} ({{ d.r.sanskrit_root_meaning }})</i></td>
        </tr>
        {% endif %}
        {% if d.r.root_example %}
        <tr>
            <th>Example</th>
            <td>{{ d.r.root_example }}</td>
        </tr>
        {% endif %}
        {% if d.r.root_info %}
        <tr>
            <th>Info</th>
            <td>{{ d.r.root_info }}</td>
        </tr>
        {% endif %}
    </table>
</div>
{% endif %}

{% if d.r.root_matrix %}
<div id="root_matrix_{{ d.r.root_ }}" class="root content hidden">
    <table class="root_matrix">
        <tr>
            <th colspan="2">Root Matrix</th>
        </tr>
        <tr>
            <td colspan="2">{{ d.r.root_matrix }}</td>
        </tr>
    </table>
</div>
{% endif %}

{% for fr in d.frs %}
<div id="root_family_{{ fr.root_family_ }}" class="root content hidden">
    {{ fr.html }}
</div>
{% endfor %}

</body></html>
