<div class="dpd">
    <p>
        % if show_sbs_data and i.sbs:
            % if i.sbs.class_anki:
                <a class="link" href="${i.sbs.sbs_class_link}">
                    <i>(cl.${i.sbs.class_anki}${'*' if i.sbs.class_extra else ''})</i>
                </a>
                <span class="gray"> | </span>
            % endif
        % endif
        ${i.pos}. 
        
        % if i.plus_case:
        (${i.plus_case}) 
        % endif
        
        ${i.meaning_combo_html} 
        
        % if i.construction_summary:
        [${i.construction_summary}] 
        % endif
        
        % if make_link and i.source_link_sutta:
        <a class="link" href="${i.source_link_sutta}">link</a> 
        % endif 
        
        ${complete} 
        
        % if show_id:
        <span class="gray">${i.id}</span>
        % endif
    </p>
</div>
